
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top:4%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .thumbnail>img{
    max-width: 30%;
  }

  #checkin-err{
    font-weight: bold;
    font-size: large;
    color:red;
  }

    input::placeholder {
    font-size: 1em;
    font-weight: lighter;
    color: #999;
  }

  .label {
    font-size: 2em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: normal;
  }
